/* logo 样式 */
.top_border{
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #ddd;   
}
.top_main{
    width: 1200px;
    margin: 0 auto;
}
.topMain_left{
    margin-top: 14px;
    float: left;
     width: 225px;   
    height: 52px;
    background: url(https://s10.mogucdn.com/mlcdn/c45406/170608_4abia54942c229cgg69f073b9g23d_408x104.png) no-repeat;
    background-size: 144px auto;
 }
.topMain_right{
    float: right;
    width: 494px;
}
.topMain_right .md_process_wrap {
    width: 494px;
    background: url(http://s18.mogucdn.com/p1/160106/upload_ie3wkzrtmrtdozdfguzdambqgayde_157x23.png) 0 18px repeat-x;
    position: relative;
    height: 23px;
    margin: 0 auto;
    padding: 18px 0 24px;
}

.topMain_right .md_process_wrap .md_process_sd{
    position: absolute;
    top: 18px;
    left: 0;
    height: 23px;
    background: url(http://s16.mogucdn.com/p1/160106/upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png) 23px 0 repeat-x;  
    width: 90px;
}
.topMain_right .md_process_i1 {
    left: 0;
}
.topMain_right .md_process_i2 {
    left: 157px;
}
.topMain_right .md_process_i3 {
    left: 314px;
}
.topMain_right .md_process_i4 {
    left: 471px;
}

.topMain_right .md_process_i {
    position: absolute;
    top: 18px;
    width: 23px;
    height: 23px;
    font: normal 14px/23px helvetica,tahoma,arial,sans-serif;
    color: #fff;
    text-align: center;
}
 .md_process_tip{
    position: absolute;
    top: 24px;
    width: 100px;
    height: 20px;
    left: 50%;
    margin-left: -50px;
    font: normal 12px/20px helvetica,tahoma,arial,sans-serif;
    color: #999;
}
/* 主体 样式 */
.main_border{
    width: 100%;
    overflow: hidden;
}
.main_border .main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.main_top{
    padding-bottom: 20px;
}
.main_top li{
    float: left;
}
.cartslide-line {
    height: 28px;
    color: #ddd;
    line-height: 28px;
    margin-right: 10px;
    margin-left: 10px;
}
.main_top li a{
    display: block;
    padding: 1px 11px;
    color: #333;
    border-radius: 3px;
    font: normal 14px/28px helvetica,tahoma,arial,sans-serif;
}
.main_top li .selected{
    padding: 0 10px;
    border: 1px solid #333;
    background: #333;
    color: #fff;
} 
/* 购物车列表样式 */
.cart_nobdbtm{
    border-bottom: none;

}
.cart_wrap{
    margin-top: 30px;
    background: #ddd;
}
#cartPage{
    
    padding: 20px 26px;
}
.cart_table{
    width: 100%;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.cart_table .cart_table_check_wrap {
    width: 56px;
}
.cart_table td, .cart_table th {
    border-bottom: 1px solid #efefef;
}
.cart_table th {
    padding: 15px 0;
    font-weight: 400;
}
.cart_alleft {
    text-align: left;
}
.pl10 {
    padding-left: 10px!important;
}
.cart_table .tr_checkmr {
    margin-right: 5px;
}
.cart_table th.cart_table_goods_wrap {
    padding: 8px 10px;
}
.cart_table .cart_table_goods_wrap {
    padding: 16px 10px;
    width: 280px;
}
.cart_table .cart_table_goodsinfo_wrap {
    width: 140px;
    text-align: left;
}
.cart_table .cart_table_goodssum_wrap {
    width: 100px;
}
.cart_table .cart_table_goodsctrl_wrap {
    width: 80px;
}
.cart_table td {
    padding: 16px 0;
    line-height: 24px;
    vertical-align: top;
}
.cart_table td.vm {
    vertical-align: middle;
}
.cart_thcheck {
    display: block;
    margin-left: 10px;
}
.cart_goods_img {
    float: left;
    position: relative;
    height: 80px;
}
.cart_goods_img img {
    display: block;
    border: 1px solid #ccc;
}
.cart_goods_t {
    display: block;
    margin: 0 20px 0 90px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 80px;
}
.cart_lh20 {
    line-height: 20px;
}
.cart_alcenter {
    text-align: center;
}
.cart_lightgray {
    color: #999;
}
.cart_throughline {
    text-decoration: line-through;
}
.cart_bold {
    font-weight: 700;
}
.cart_tip_focuswidth {
    min-width: 64px;
}

.cart_tip_redw, .cart_tip_yellow {
    display: inline-block;
    padding: 4px 6px;
    font-weight: 700;
    line-height: 12px;
}
.cart_tip_yellow {
    color: #fb5e00;
}
.cart_num {
    position: relative;
    width: 97px;
    height: 27px;
    margin: 0 auto 4px;
}
.cart_num_input {
    position: absolute;
    border: 0;
    width: 43px;
    height: 12px;
    line-height: 12px;
    padding: 6px 0 7px;
    border: 1px solid #ddd;
    background: #fff;
    top: 0;
    left: 26px;
    text-align: center;
    color: #333;
}
.cart_num_add, .cart_num_reduce {
    position: absolute;
    cursor: pointer;
    width: 27px;
    height: 27px;
    top: 0;
}

.cart_num_add {
    right: 0;
    background: #fb5e00;
}
.cart_num .disable {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}

.cart_num_reduce {
    left: 0;
    background: #fb5e00;
}
.cart_deep_red {
    color: #f13e3a;
}

.cart_font16 {
    font-size: 16px!important;
}
/* 结算样式 */
.media_screen_1200 .wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.cart_paybar {
    position: relative;
    height: 50px;
    background: #fff;
    border-top: 1px solid #ddd;
    line-height: 50px;
    clear: both;
}
.cart_paybtn.cart_paybtn_disable, .cart_surebtn {
    display: block;
    width: 152px;
    height: 51px;
    margin-top: -1px;
    font: 0/0 a;
    overflow: hidden;
}

.cart_paybtn.cart_paybtn_disable {
    background: #d8d8d8 url(http://s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -800px no-repeat;
}
.cart_paybtn {
    display: block;
    width: 152px;
    height: 50px;
    background: #f13e3a url(http://s18.mogucdn.com/p1/151012/upload_ieywkzbzgq4wgmjtgqzdambqmeyde_360x900.png) 0 -216px no-repeat;
    font: 0/0 a;
    overflow: hidden;
}
.fr {
    float: right;
}
.cart_paybar_info_cost {
    position: relative;
    padding: 0 12px 0 8px;
    display: inline-block;
}
.cart_deep_red {
    color: #f13e3a;
}
.cart_font26 {
    font-size: 26px;
}
.cart_money {
    font-family: Microsoft YaHei,sans-serif;
}
.cart_pregray {
    color: #666;
}
.cart_paybar_vmbox {
    position: relative;
    padding-left: 58px;
    width: 300px;
}
.cart_paybar_vmbox .s_all_slave {
    position: absolute;
    left: 36px;
    top: 50%;
    margin-top: -6px;
}